{% extends 'demo/base.html' %}
{% block title %}Dynamic Forms{% endblock %}
{% block dynamic_active %}active{% endblock %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block body %}

    {% if confirm_message %}
    <p>{{ confirm_message }}</p>
    <a href="{% static "Configs/generated.reg" %}">Download!</a>
{% endif %}

    {% if OutlookAddinForm %}

<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h2>Outlook Addin Settings</h2>
      <form action="{% url 'finalize' %}" class="form-hotizontal" method="POST">
        {% csrf_token %}
        {% for field in OutlookAddinForm %}
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
          </div>
        </div>
        {% endfor %}
        <br>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary">Get the reg file!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    {% endif %}
{% endblock %}
