.btn-primary {
    background-image: -webkit-linear-gradient(top,#0a4980 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#440673 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}


.navbar-inverse .navbar-brand {
    color: #5cb85c;
}

.choose-the-product-y {	
    height: 35px;	
    width: 587px;	
    color: #000000;
    font-family: Montserrat, serif;	
    font-size: 26px;	
    font-weight: 600;	
    line-height: 32px;}

.configuration-file-g {	height: 211px;	
    width: 766px;	
    color: #0052CC;
    font-family: Montserrat, serif;	
    font-size: 80px;	
    font-weight: 600;	
    line-height: 97px;
    margin-bottom: 20px;
}

.zero-logo {
    height: 47px;
    width: 159px;}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}